*, *::before,*::after{
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: teal;
}
.container{
    
    max-width: 80%;
    background-color: white;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px ;
}

.label{
    font-size: 18px;
}
#submit{
    font-size: 16px;
}

#feedback, #feedback_password{
    color:red;
}